$border-radius: 5px;
$white: white;

.bookcard {
  border: 1px solid #ccc;
  border-radius: $border-radius;
  padding: 15px;
  margin: 25px;
  text-align: left;
  background-color: $white;

  h3 {
    font-size: 18px;
    margin: 0px;
  }

  p {
    margin: 5px;
    
  }

  button {
    background-color: powderblue;
    border: 1px solid black;
    border-radius: $border-radius;
    padding: 5px;
    margin: 10px 0px 10px 0px;
    cursor: pointer;

    &:hover {
        background-color: white;
    }
  }
}
